@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
    --white:#ffffff;
    --body:#ffffff;
    --dark: #202631;
    --border-color:rgba(0,0,0,0.10);
    --border-width: 1px;
    --border-radius: 30px;
}

body
{
    font-family: "Barlow","sans-serif";
    line-height: 1.8;
    color: var(--body);
    background-color: #292727;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: 800;
    color: var(--dark);
}

a
{
    color: var(--body);
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 700;
}

a:hover
{
    color: var(--white);
}

img
{
    width:100%
}

section
{
    padding-top: 170px;
    padding-bottom: 170px;
}

#hero
{
    background: url(images/bckgr.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}



.own
{
    height: 100%;
    width: 70%;
    border-radius: 50%;
    overflow: hidden;
}

.navbar
{
    position: absolute;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 9999;
}

.navbar-brand
{
    font-size:30px;
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-link
{
    text-transform: uppercase;
    font-size: 18px;
}

.socials svg
{
    width: 36px;
    height:36px;
    background-color: var(--dark);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 18px;
    margin-left: 5px;

}

@media(max-width: 992px)
{
    .navbar
    {
        background-color: var(--dark);
    }
    
}

#hero h1, #hero p
{
    color: var(--white);

}

#hero h1
{
    font-weight: 900;
}

#hero p
{
    font-size: 18px;
    max-width: 450px;
}

.btn
{
    padding: 20px 44px;
    border-width: 2px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}


/*---------------------projects-----------------*/

.forproj 
{
    width: 350px;
    height: 500px;
    perspective: 800px; 
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.forproj:hover > .card {
    transform: rotateY(180deg);
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    margin-left: auto;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card:hover {
    cursor: pointer;
    transform: rotateY(180deg);
}

.front1, .back, .front2, .front3, .front4 {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute; 
    backface-visibility: hidden;
}

.front1 {
    background-image: url(images/network.png); 
    background-size:cover; 
    background-position: center; 
    border-radius: 20px;
    z-index: 2; 
}

.front2 {
    background-image: url(images/social.jpg); 
    background-size:cover; 
    background-position: center; 
    border-radius: 20px;
    z-index: 2; 
}

.front3 {
    background-image: url(images/lego.jpg); 
    background-size:cover; 
    background-position: center; 
    border-radius: 20px;
    z-index: 2; 
}

.front4 {
    background-image: url(images/blockchain.jpeg); 
    background-size:cover; 
    background-position: center; 
    border-radius: 20px;
    z-index: 2; 
}

.back {
    background-color: #292727;
    transform: rotateY(180deg); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    z-index: 1; 
    border-radius: 20px;
}

.back p
{
    color: white; 
    text-align: center; 
}

.back h1
{
    color: var(--white);
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}


/*-----------experience--------------*/
.forexpr
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.forexpr2
{
    margin-top: 20px;
    margin-bottom: 20px;
}


.forexpr h3
{
    color: var(--white);
    font-style: italic;
    text-transform: uppercase;
}

.forexpr p
{
    color: white;
}

/*-----------------about---------------*/

.about
{
    margin-bottom: 60px;
}

.about .hr-line
{
    width:70px;
    height: 4px;
    background-color: var(--white);
    display: inline-block;
}

.about h1
{
    color: var(--body);
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 16px;
}

.about p
{
    max-width: 600px;
}

#about img
{
    border-radius: var(--border-radius);
    height: 92%;
    width: 130%;
    margin-top: 10%;
}


.btn svg
{
    margin-bottom: 2%;
}


.contact
{
    margin-bottom: 60px;
}

.contact .hr-line
{
    width:70px;
    height: 4px;
    background-color: var(--white);
    display: inline-block;
}

.contact h1
{
    color: var(--body);
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 16px;
}

.info h1
{
    color:var(--body);
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 16px;
}

.forlogos
{
    display: flex;
}

.contactlogos
{
    margin-left: auto;
}

.glitch
{
    font-size: 6rem;
    font-weight: 700;
    text-shadow: 0.05em 0 0 rgba(255,0,0,0.75),
        -0.025em -0.05em 0 rgba(0,255,0,0.75),
        0.025em 0.05em 0 rgba(0,0,255,0.75);

    animation: glitch 750ms infinite;
    position: relative;
    font-style: italic;
}

.glitch span
{
    position: absolute;
    top:0;
    left: 0;
}

.glitch span:first-child
{
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0,100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em,-0.0125em);
    opacity: 0.8;
}

.glitch span:last-child
{
    animation: glitch 375ms infinite;
    clip-path: polygon(0 60%,100% 60%, 100% 100%, 0 100%);
    transform: translate(0.0125em,0.025em);
    opacity: 0.8;
}

@keyframes glitch
{
    0%
    {
        text-shadow: 0.05em 0 0 rgba(255,0,0,0.75),
        -0.025em -0.05em 0 rgba(0,255,0,0.75),
        0.025em 0.05em 0 rgba(0,0,255,0.75);
    }
    14%
    {
        text-shadow: 0.05em 0 0 rgba(255,0,0,0.75),
        -0.025em -0.05em 0 rgba(0,255,0,0.75),
        0.025em 0.05em 0 rgba(0,0,255,0.75);
    }
    15%
    {
        text-shadow: -0.05em -0.025em 0 rgba(255,0,0,0.75),
        0.025em 0.025em 0 rgba(0,255,0,0.75),
        -0.05em -0.05em 0 rgba(0,0,255,0.75);
    }
    49%
    {
        text-shadow: -0.05em -0.025em 0 rgba(255,0,0,0.75),
        0.025em 0.025em 0 rgba(0,255,0,0.75),
        -0.05em -0.05em 0 rgba(0,0,255,0.75);
    }
    50%
    {
        text-shadow: 0.025em 0.05em 0 rgba(255,0,0,0.75),
        0.05em 0 0 rgba(0,255,0,0.75),
        0 -0.05em 0 rgba(0,0,255,0.75);
    }
    99%
    {
        text-shadow: 0.025em 0.05em 0 rgba(255,0,0,0.75),
        0.05em 0 0 rgba(0,255,0,0.75),
        0 -0.05em 0 rgba(0,0,255,0.75);
    }
    100%
    {
        text-shadow: -0.025em 0 0 rgba(255,0,0,0.75),
        -0.025em -0.025em 0 rgba(0,255,0,0.75),
        -0.025em -0.05em 0 rgba(0,0,255,0.75);
    }
}   
